* {
  font-family: Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

.navbar {
  border-bottom: 1px solid #ccc;
  padding: 1em;
  margin-bottom: 1em;
  color: #FFF;
}

h1 {
  font-size: 30px;
  margin-bottom: 1em;
  text-align: center;
}

.form {
  width: 450px;
  margin: 0 auto;
}

.container-users {
  max-width: 650px;
  min-width: 200px;
  margin: 0 auto;
}

.container-address {
  margin-top: -40px;
  display: flex;
  flex-wrap: wrap;
  max-width: 1200px;
  gap: 10px;
}

#addEndereco{
  margin-left: 130px;

}

.form-container-address {
  margin-top: 50px;
  margin-left: 50px;
}

.container-list {
  width: 540px;
  min-width: 200px;
  margin-left: 50px;
  display: inline-block;
  text-align: center;
  margin-bottom: 50px;
  padding-left: 50px;
  border-left: 1px solid #CCC;
}
table {
  text-align: center;
}