<h1>Cadastrar usuários</h1>
<div>
    <form action="/add" method="post" class="form">
        <div class="mb-3">
            <label for="name" class="form-label">Nome do usuários:</label>
            <input type="text" name="name" class="form-control" placeholder="Digite o Nome do Produto" required>
        </div>
        <div class="mb-3">
            <label for="old" class="form-label">Idade:</label>
            <input type="text" name="old" class="form-control" placeholder="Digite o Valor do Produto" required>
        </div>
        <input type="submit" class="btn btn-primary container" value="Cadastrar">
    </form>
</div>